

<ion-header class="header-wrapper">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="principal-container">
    <h1>Skeleton APP</h1>
    <p>Aqui comienza todo</p>
    <br>
    <h3>Bienvenido!</h3>

    <ion-item >
      <ion-input label="Nombre" [(ngModel)]="usuario"></ion-input>
    </ion-item>

    <ion-input type="password" label="Password" class="pass-wrapper" [(ngModel)]="password">
      <ion-input-password-toggle slot="end" ></ion-input-password-toggle>
    </ion-input>

    <ion-button class="login-btn" (click)="ingresar()">Ingresar</ion-button>

  </div>
  <div class="anchor-wrapper">
    <a href="">Crea tu cuenta gratis!</a>
  </div>
</ion-content>

