<ion-header class="header-wrapper">
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="principal-container">
    <h1>Skeleton APP</h1>
    <p>Aqui comienza todo</p>
    <br>
    <h3>Bienvenido!</h3>
  </div>

    <ion-item >
      <ion-input label="Nombre"></ion-input>
    </ion-item>

   <ion-item>
    <ion-input
      [(ngModel)]="password"
      type="password"
      inputmode="numeric"
      maxlength="4"
      label="Password"
      label-placement="floating"
    >
      <ion-input-password-toggle slot="end"></ion-input-password-toggle>
    </ion-input>
  </ion-item>

  <div class="principal-container">
      <ion-button class="login-btn" (click)="ingresar()">Ingresar</ion-button>

    <div class="anchor-wrapper">
      <a href="">Crea tu cuenta gratis!</a>
    </div>
  </div>
</ion-content>
