.principal-container {
  text-align: center !important;
}
.pass-wrapper {
  padding-left: 30px;
}

.anchor-wrapper {
  text-align: center;
  margin-top: 50px;
}

.login-btn {
  width: 60vw;
  margin-top: 20px;
}
